.circular--square {
    border-radius: 50%;
  }

  .head {
      background-color: rgb(48, 145, 205);
      justify-content: center;
      padding: 1%;
  }

  .footer {
      background-color: aliceblue;
      padding: 2%;
  }

  .container1 {
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .texto-encima{
    position: absolute;
    top: 125px;
    left: 10px;
    background-color: aliceblue;
    opacity: .8;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}